[Unit]
Description=A domoticz sensors service

[Service]
Type=forking
ExecStart=/domoticz/sensors.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

