[Unit]
Description=A domoticz sensors service

[Service]
Type=forking
ExecStart=python /domoticz/sensors.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

